<div class="p-6 bg-gray-100 min-h-screen">
    <h1 class="text-2xl font-bold mb-4 text-center">Patients List</h1>

    <!-- Search Input -->
    <div class="flex items-center mb-4">
        <!-- <input
          type="text"
          placeholder="Search by ID or Name..."
          [(ngModel)]="searchQuery"
          
          class="flex-1 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <button
          
          class="ml-2 px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none"
        >
          Search
        </button> -->
      </div>
      

    <!-- Patients Table -->
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-200 rounded-lg">
        <thead>
          <tr class="bg-gray-200 text-left">
            <th class="py-2 px-4 border-b">ID</th>
            <th class="py-2 px-4 border-b">Name</th>
            <th class="py-2 px-4 border-b">Date of Birth</th>
            <th class="py-2 px-4 border-b">Gender</th>
            <th class="py-2 px-4 border-b">Recommendations</th>
            <th class="py-2 px-4 border-b">Completed</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients" class="hover:bg-gray-100">
            <td class="py-2 px-4 border-b">{{ patient.id }}</td>
            <td class="py-2 px-4 border-b">{{ patient.firstName }} {{ patient.lastName }}</td>
            <td class="py-2 px-4 border-b">{{ patient.dateOfBirth | date: 'MM/dd/yyyy' }}</td>
            <td class="py-2 px-4 border-b">{{ patient.gender }}</td>
            <td class="py-2 px-4 border-b">{{ patient.recommendations }}</td>
            <td class="py-2 px-4 border-b">
                <input 
                  type="checkbox" 
                  [(ngModel)]="patient.isComplete" 
                  class="form-checkbox"
                />
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  